#Item {
    width: 16.6667%;

    >div {
        &:hover {
            >span:nth-child(4) {
                transform: scale(100%);
            }

            >span:nth-child(5) {
                transform: scale(100%);
            }

            >span:nth-child(6) {
                background-color: #eb3e32;
                color: #fff;
            }
        }

        cursor: pointer;

        >span:nth-child(3) {
            top: 10px;
            left: 10px;
            background-color: #ffd004;
            width: 40px;
            line-height: 18px;

            &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                right: 0;
                left: 0;
                border-style: solid;
                border-width: 0px 20px 20px 20px;
                border-color: transparent #ffd004 transparent #ffd004;
            }
        }

        >span:nth-child(4) {
            position: absolute;
            top: 12px;
            right: 12px;
            padding: 6px;
            font-size: 2rem;
            background-color: #eb3e32;
            display: flex;
            color: #fff;
            border-radius: 4px;
            transform: scale(0%);
            transition: transform 0.15s linear;

            &:hover {
                opacity: 0.6;
            }
        }

        >span:nth-child(5) {
            position: absolute;
            top: 50px;
            right: 12px;
            padding: 6px;
            font-size: 2rem;
            background-color: #eb3e32;
            display: flex;
            color: #fff;
            border-radius: 4px;
            transform: scale(0%);
            transition: transform 0.15s linear;

            &:hover {
                opacity: 0.6;
            }
        }

        >span:nth-child(6) {
            position: absolute;
            bottom: 12px;
            right: 12px;
            padding: 6px;
            font-size: 2rem;
            display: flex;
            color: #000;
            border-radius: 4px;
            transition: background-color 0.15s linear;


            &:hover {
                opacity: 0.6;
            }
        }
    }
}