#grid {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 22px 0px 22px;

    >h1 {
        margin-top: 20px;
    }

    >p:nth-child(1) {
        margin-top: 16px;

        >span:nth-child(3) {
            color: #ffb416;
        }
    }

    >div:nth-child(4) {
        >p {
            line-height: 2.2rem;
        }

        >p:nth-child(2) {
            margin-top: 16px;
        }

        >p:nth-child(3) {
            margin-top: 16px;
        }
    }
}