* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    text-rendering: optimizeSpeed;
}

a {
    color: unset;
    text-decoration: none;
}

#App {
    background-color: #f5f5f5;
}

.no-outline {
    outline: none;
}

.carousel .thumbs-wrapper {
    background-color: #f5f5f5;
    /* Màu nền của khung thumb */
    padding: 10px;
}

.carousel .thumb {
    border: 2px solid #ccc;
    /* Đường viền của mỗi thumb */
    margin: 5px;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
    border-color: #000;
    /* Đường viền khi thumb được chọn hoặc hover */
}

.carousel .thumb img {
    border-radius: 5px;
    /* Bo tròn góc của ảnh thumb */
}

/* thêm dấu 3 chấm nếu quá 2 dòng */
.morethan2lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.active {
    border: 1px #f72c0f solid !important;
}

.ReactCollapse--collapse {
    height: 500px !important;
}

/* css cho phân trang */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin-right: 5px;
}

.pagination li a {
    display: inline-block;
    color: #6c757d !important;
    text-decoration: none;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li a:hover {
    color: #ee4d2d !important;
}

.pagination .active {
    border: none !important;
}

.pagination .active a {
    border-radius: 3px;
    background-color: #ee4d2d;
    color: #fff !important;
}

.pagination .active a:hover {
    color: #fff !important;
}

.pagination .disabled a {
    pointer-events: none;
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

/* css cho mo ta san pham */
.e8lZp3 {
    color: rgba(0, 0, 0, .8);
    overflow: hidden;
    text-overflow: ellipsis;

}

.QN2lPu {
    margin: 0;
    white-space: pre-line;
}

/* css cho thanh cuộn */
.scrollbar::-webkit-scrollbar {
    width: 6px;
}

/* Style cho track của thanh cuộn */
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Màu nền của track */
    border-radius: 10px;
    /* Bo tròn các góc */
}

/* Style cho thumb của thanh cuộn */
.scrollbar::-webkit-scrollbar-thumb {
    background: #c2c1c1;
    /* Màu của thumb */
    border-radius: 10px;
    /* Bo tròn các góc */
}

/* Style cho thumb khi hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a;
    /* Màu của thumb khi hover */
}

/* Style cho corner của thanh cuộn */
.scrollbar::-webkit-scrollbar-corner {
    background: #f1f1f1;
    /* Màu của góc giữa thanh cuộn ngang và dọc */
}