#footer {
    background: #24272e;
    color: #fff;
    margin-top: 50px;
}

#grid {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 18px;

    >div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        padding: 36px 0px;
        border-bottom: 1px #373a43 solid;

        >div {
            flex-basis: 25%;

            >h4 {
                margin-bottom: 24px;
            }

            >p {
                display: inline-block;
                color: #8b8e96;
                line-height: 2rem;
                cursor: pointer;

                &:hover {
                    color: #ffc107;
                }
            }
        }
    }

    >div:nth-child(2) {
        padding: 36px 0px;
        display: flex;
        border-bottom: 1px #373a43 solid;

        >div:nth-child(1) {
            flex-basis: 50%;

            >h4 {
                margin-bottom: 24px;
            }

            >p {
                color: #8b8e96;
                line-height: 2rem;
            }
        }

        >div:nth-child(2) {
            flex-basis: 50%;

            >h4 {
                margin-bottom: 24px;
            }

            >div:nth-child(2) {
                display: flex;
                width: 100%;
                align-items: center;

                >input {
                    flex: 1;
                    padding: 10px 16px;
                    outline: none;
                }

                >button {
                    color: #fff;
                    background-color: #eb3e32;
                    padding: 12px 16px;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            >div:nth-child(3) {
                display: flex;
                margin-top: 30px;

                >div {
                    position: relative;
                    background-color: #fff;
                    height: 40px;
                    width: 40px;
                    margin-right: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    cursor: pointer;

                    &::before {
                        content: "";
                        position: absolute;
                        height: 56.56854px;
                        width: 56.56854px;
                        // background-color: #eb3e32;
                        right: 20px;
                        top: 20px;
                        transform: rotate(45deg);
                        transition: all 0.15s linear;

                    }

                    &:hover {
                        &::before {
                            right: -8px;
                            top: -8px;
                        }
                    }
                }

                >div:nth-child(1) {
                    &::before {
                        background-color: #3B5998;
                    }
                }

                >div:nth-child(2) {
                    &::before {
                        background-color: #3CF;
                    }
                }

                >div:nth-child(3) {
                    &::before {
                        background-color: #DC4A38;
                    }
                }

                >div:nth-child(4) {
                    &::before {
                        background-color: #f44336;
                    }
                }
            }
        }
    }

    >div:nth-child(3) {
        padding: 16px 0px;
        display: flex;
        justify-content: space-between;

        >p {
            color: #8b8e96;

            >strong {
                color: #fff;
            }
        }

        >ul {
            >li {
                display: inline-block;
                margin-left: 16px;
                color: #8b8e96;
            }
        }
    }
}